<%- include ("header") -%>
<div class="ui main container">
    <form action="/Book/update" method="POST" enctype="application/x-www-form-urlencoded" class="ui form">
        <div class="field">
            <label for="name">name : </label>
            <input type="text" name="name" id="name" value="<%=book.name%>">
            <label for="message">message : </label>
            <textarea name="msg" id="msg"><%=book.message%></textarea>
            <input type="text" name="id" id="id" value="<%=book._id%>" hidden>
        </div>
        <button type="submit" class="ui blue animated submit large button">
            <div class="visible content">Submit</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </button>
    </form>
</div>
<%- include ("footer") -%>